{{if max}}
<div class="m-pagination {{addClass}}">
    {{list pagination as pg}}
        {{if pg.type === 'ellipsis'}}
        <span class="disabled">{{if pg.type === 'ellipsis'}}...{{else}}{{pg.page}}{{/if}}</span>
        {{else if pg.active}}
        <span class="active">{{pg.page}}</span>
        {{else}}
        <a class="pagination-item" data-page="{{if pg.page}}{{pg.page}}{{/if}}" href="{{=pg.url}}">{{if pg.type === 'prev'}}上一页{{else if pg.type === 'next'}}下一页{{else}}{{pg.page}}{{/if}}</a>
        {{/if}}
    {{/list}}
</div>
{{/if}}